.root {
  position: relative;
  background-color: var(--white_alpha);
  border-radius: 24px;

  @include respond(tabletL) {
    padding-bottom: 50px;
  }
}

.wrapper {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 16px;

  @include respond(tabletL) {
    flex-direction: column;
  }
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  overflow: hidden;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 32px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  @include transition;

  &:hover {
    opacity: 0.5;
  }

  @include respond(mobileL) {
    top: -50px;
  }
}

.price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: 600;
  color: var(--aqua);
}
