.root {
  width: 100%;
}

.wrapper {
  padding: 0px 16px 48px 32px;
}

.title {
  font-size: 24px;
  color: var(--white);
  text-align: center;
  margin-bottom: 64px;

  @include respond(tablet) {
    margin-bottom: 24px;
  }
}
