.root {
  position: absolute;
  top: 4px;
  left: 0;
  background: var(--bg_card);
  border-radius: 16px;
  padding: 32px 24px;
  width: 234px;
  z-index: 10;

  @include respond(tablet) {
    display: none;
  }
}

.item {
  margin-bottom: 12px;
}

.categoryText {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}

.valueText {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}
