.root {
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;
}

.swiper {
  border-radius: 16px;
}

.banner {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 140px;
  display: block;

  .image {
    position: absolute;
  }
}
