.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.contacts {
  padding: 90px 0px 48px;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: minmax(320px, 560px) minmax(1px, 1px) minmax(320px, 560px);
  grid-template-areas:
    'a divider b'
    'c divider d';
  // overflow: hidden;

  @include respond(tablet) {
    grid-template-columns: minmax(1px, 1px) minmax(320px, 560px);

    grid-template-areas:
      'divider a'
      'divider b'
      'divider d'
      'divider c';
  }
}

.divider {
  grid-area: divider;
  width: 1px;
  height: 100%;
  border-radius: 50%;
  background: var(--aqua);
  // margin: 48px 0px;
}

.block1 {
  background: var(--white_alpha);
  padding: 42px 94px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  grid-area: a;

  .icon1 {
    margin-bottom: 30px;
  }
}

.text1 {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 24px;

  span {
    color: var(--aqua);
    font-size: 30px;
  }
}

.description {
  font-size: 24px;
  color: var(--gray2);
}

.block2 {
  display: flex;
  justify-content: center;
  padding: 240px 0px 0px 16px;
  grid-area: b;

  @include respond(tablet) {
    padding: 20px;
  }
}

.text2 {
  font-size: 16px;
  color: var(--white);
}

.block3 {
  display: flex;
  justify-content: center;
  padding: 240px 16px 0px 0px;
  grid-area: c;

  @include respond(tablet) {
    padding: 20px;
  }
}

.block4 {
  background: var(--white_alpha);
  padding: 42px 94px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  grid-area: d;

  .icon4 {
    margin-bottom: 30px;
  }
}
