.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0px;
}

.contacts {
  padding: 90px 0px 48px;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: minmax(320px, 560px) minmax(1px, 1px) minmax(320px, 560px);
  grid-template-areas:
    'a divider b'
    'c divider d';

  @include respond(tabletS) {
    grid-template-columns: minmax(320px, 560px);
    grid-template-areas:
      'a'
      'b'
      'd'
      'c';
  }
}

.divider {
  grid-area: divider;
  width: 1px;
  height: 100%;
  border-radius: 50%;
  background: var(--aqua);

  @include respond(tabletS) {
    display: none;
  }
}

.block1 {
  background: var(--white_alpha);
  padding: 42px 94px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  grid-area: a;
  backdrop-filter: blur(4px);

  @include respond(tabletS) {
    padding: 24px;
  }

  .icon1 {
    margin-bottom: 30px;
  }
}

.text1 {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 24px;

  @include respond(tabletS) {
    font-size: 18px;
  }

  span {
    color: var(--aqua);
    font-size: 30px;

    @include respond(tabletS) {
      font-size: 20px;
    }
  }

  a {
    color: var(--white);

    &:hover {
      color: var(--aqua);
      @include transition;
    }
  }
}

.description {
  font-size: 24px;
  color: var(--gray2);

  @include respond(tabletS) {
    font-size: 18px;
  }
}

.block2 {
  display: flex;
  justify-content: center;
  padding: 240px 0px 0px 16px;
  grid-area: b;

  @include respond(tabletS) {
    padding: 20px;
  }
}

.text2 {
  font-size: 16px;
  color: var(--white);
}

.block3 {
  display: flex;
  justify-content: center;
  padding: 240px 16px 0px 0px;
  grid-area: c;

  @include respond(tabletS) {
    padding: 20px;
  }
}

.block4 {
  background: var(--white_alpha);
  padding: 42px 94px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  grid-area: d;
  backdrop-filter: blur(4px);

  @include respond(tabletS) {
    padding: 24px;
  }

  .icon4 {
    margin-bottom: 30px;
  }
}
