.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 20px 0px;
}

.faq {
  padding: 90px 0px 0px;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--white);
}

.content {
  display: grid;
  grid-template-columns: minmax(1px, 1px) minmax(270px, 1066px);
  gap: 1px;
  margin-bottom: 48px;

  @include respond(tabletS) {
    grid-template-columns: minmax(270px, 1066px);
  }
}

.divider {
  width: 1px;
  height: 100%;
  border-radius: 50%;
  background: var(--aqua);

  @include respond(tabletS) {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
