.wrapper {
  display: grid;
  grid-template-columns: minmax(250px, 250px) minmax(1px, 1px) minmax(320px, 810px);
}

.divider {
  width: 2px;
  height: 100%;
  border-radius: 50%;
  background: var(--aqua);
  margin-top: 100px;
}

.leftTitle {
  font-size: 24px;
  color: var(--white);
  margin-bottom: 64px;
}

.leftContent {
  height: 100%;
}

.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.email {
  font-size: 14px;
  font-weight: 700;
  color: var(--aqua);
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rigisterDate {
  font-size: 14px;
  font-weight: 400;
  color: var(--aqua);
  margin-bottom: 16px;
}
