.content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;

  @include respond(laptopL) {
    padding: 0px 240px;
  }

  @include respond(laptopB) {
    padding: 0px;
  }

  @include respond(tabletSM) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.spinWrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFoundTitle {
  text-align: center;
  font-size: 16px;
  color: var(--gray);
}
