.content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px 64px;

  @include respond(laptop) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.spinWrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
