.root {
  // height: calc(100vh - 72px);
  height: 100vh;
  background: url('/images/bg_auth.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 250px;
}
