.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  padding: 100px 20px 30px;
}

.title {
  font-size: 26px;
  margin-bottom: 24px;
}

.block {
  display: grid;
  grid-template-columns: minmax(320px, 816px);
  background-color: var(--white_alpha);
  border-radius: 24px;
  padding: 68px 40px;
  backdrop-filter: blur(4px);

  @include respond(mobileL) {
    grid-template-columns: auto;
    padding: 34px 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.methods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}

.card {
  background: var(--white_alpha);
  border-radius: 12px;
  padding: 12px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  max-height: 60px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  backdrop-filter: blur(4px);

  &:active,
  &:focus {
    background: var(--white_alpha);
  }
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--aqua);
  border-radius: 50%;
}

.tooltip {
  display: flex;
  gap: 6px;
  align-items: end;
}

.tooltipContent {
  font-size: 12px;

  a {
    color: var(--white);
    @include transition;

    &:hover {
      color: var(--aqua);
    }
  }
}
