.root {
  display: flex;
  justify-content: center;
  padding: 20px 20px 0px;
}

.wrapper {
  padding: 90px 0px 48px;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  color: var(--white);
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 526px));
  gap: 16px;

  @include respond(tablet) {
    grid-template-columns: repeat(1, minmax(100px, 526px));
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
