.root {
  padding: 0 20px;
}

.content {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

.genre {
  cursor: pointer;

  &:hover {
    svg {
      color: var(--aqua);
      filter: drop-shadow(0 0 20px #7effc5);
    }
  }
}

.imgWrapper {
  background: var(--white_alpha);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 6px;
  backdrop-filter: blur(4px);
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    color: var(--white);
    @include transition;
  }

  &.active {
    svg {
      color: var(--aqua);
      filter: drop-shadow(0 0 20px #7effc5);
    }
  }
}

.name {
  text-align: center;
  max-width: 82px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
