.root {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

.genre {
}

.imgWrapper {
  background: var(--white_alpha);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 6px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
  }
}

.name {
  text-align: center;
  max-width: 82px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
