.root {
  position: fixed;
  background: url('/images/bg_header.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 72px;
  top: 0;
  max-width: 1920px;
  width: 100%;
  z-index: 101;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.burgerWrapper {
  display: none;

  .burger {
    width: 48px;
    height: 44px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 13px;
    border: 1px solid var(--white);
    border-radius: 10px;
    position: relative;

    .burgerLine {
      background: var(--white);
      width: 20px;
      height: 2px;
      border-radius: 5px;
    }

    .closeLine {
      position: absolute;
      width: 20px;
      height: 2px;
      border-radius: 5px;
      background: var(--white);
      top: 50%;
      left: 50%;
    }

    .closeLine:nth-child(1) {
      transform: translate(-50%, -50%) rotateZ(45deg);
    }

    .closeLine:nth-child(2) {
      transform: translate(-50%, -50%) rotateZ(-45deg);
    }
  }

  @include respond(laptopC) {
    display: block;
  }
}

.wrapper {
  padding: 2px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(laptopC) {
    padding: 2px 50px;
  }
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 12px;
}
