.root {
  position: fixed;
  background: url('/images/bg_header.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 72px;
  top: 0;
  max-width: 1920px;
  width: 100%;
  z-index: 101;
}

.wrapper {
  padding: 2px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 12px;
}
