:root {
  --bg_main: #1c1c1c;
  --white: #ffffff;
  --gray: #878787;
  --aqua: #68e8a9;
  --white_alpha: rgba(255, 255, 255, 0.03);
  --red: #fb4646;
  --black: #000000;
  // --green-light: #9cfb40;
  // --green: #1d4419;
  // --purple: #b90086;
  // --light_blue: #DDF7FF;
}
