.root {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    color: var(--gray);
    @include transition;
  }

  &:hover {
    svg {
      color: var(--aqua);
    }
  }
}

.cart {
  position: relative;

  .count {
    position: absolute;
    background-color: var(--aqua);
    border-radius: 50%;
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
  }
}
