.root {
  position: fixed;

  width: 600px;
  height: calc(100vh - 177px);
  z-index: 0;
  right: 0;
  top: 0;

  &.left {
    left: 0;
  }

  @include respond(laptopL) {
    display: none;
  }
}

.content {
  position: relative;
}
